
#dropdown-basic
{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px; 
}

.dropdown
{
    display: flex;
    justify-content:left;
    height: 40px;

}

.btn {
    --bs-btn-padding-x: 10px !important;
    --bs-btn-padding-y: 2px !important;


}



.dropdown-menu
{
   height: 40px;
}

.dropdown-item {
    height: 40px !important;

    }